{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
 

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/insert">Insertar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/show">Mostrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/withheld">Retenidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar sesion</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registro</a>
        </li>
      {% endif %}

    </ul>
  </div>
</nav>

<body>
  
    {% block content %}
    {% endblock %}
  

  </body>



</html>


